<%- include ("includes/header") %>

<div id="homeApp" style="margin-bottom: 80px;">
    <div class="container position-relative text-center zindex-5 pt-4 pt-md-5 pb-5 mt-auto">
        <div class="row mt-5">
          <div class="col-xl-10 mx-auto">
            <h1 class="display-1 mb-md-4 pb-3">Software Development Experts</h1>
            <p class="text-body mx-auto mb-md-5 mb-4 pb-xl-2 pb-md-0 pb-sm-2 fs-5" style="max-width: 36.5rem;">
              We are experts with
              <img src="assets/img/landing/software-agency-2/clutch-rating.png" width="136" alt="Clutch rating" class="d-inline-block mt-n3 ms-1">
              providing the widest range of IT services and solutions for growing your business.
            </p>
            <a v-bind:href="mainURL + '/MyUploads'" class="btn btn-lg btn-primary shadow-primary">Incepe</a>
          </div>
        </div>
    </div>
</div>

<script>
    const homeApp = Vue.createApp({
        data() {
            return {
                mainURL: baseUrl,
            }
        }
    });
    homeApp.mount("#homeApp");
</script>

<%- include ("includes/footer") %>